## Install the necessary libraries

In [ ]:
!pip install ipython-sql psycopg2-binary cockroachdb pandas matplotlib

## Load the sqlmagic extension

In [ ]:
%load_ext sql

## instantiate the connection string for ipython-sql sqlmagic

In [ ]:
%sql cockroachdb://maxroach@roach-0:26257/movr?sslmode=verify-full&sslcert=/certs/client.maxroach.crt&sslkey=/certs/client.maxroach.key&sslrootcert=/certs/ca.crt

## Execute SQL queries against CockroachDB as you would in a native SQL client

In [ ]:
%sql select * from vehicles limit 10;

In [ ]:
%sql select * from rides limit 10;

In [ ]:
result = _

In [ ]:
 print(result)

In [ ]:
result.keys

In [ ]:
result[0][0]

In [ ]:
result[0].city

## Maintain connection to an existing cluster

In [ ]:
%%sql 
maxroach@movr

In [ ]:
print(_)

In [ ]:
%config SqlMagic

In [ ]:
## Using Pandas DataFrames

In [ ]:
result = %sql select city, count(city) from vehicles group by city;

In [ ]:
dataframe = result.DataFrame()

In [ ]:
dataframe.head()
dataframe['city'].head()

In [ ]:
%sql DROP TABLE IF EXISTS dataframe;

## The following will create a table and map datatypes as it assumes them, it expects that given table does not exist.

In [ ]:
%sql PERSIST dataframe

In [ ]:
%sql SHOW CREATE TABLE dataframe;

## Dataframe schema
```sql
CREATE TABLE dataframe (
"index" INT8 NULL,
city STRING NULL,
count INT8 NULL,
INDEX ix_dataframe_index ("index" ASC),
FAMILY "primary" ("index", city, count, rowid)
);
```

## Set row limit as you're likely run out of space

In [ ]:
result = %sql SELECT city, count(city) FROM vehicles GROUP BY city LIMIT 500;

In [ ]:
%matplotlib inline

In [ ]:
result.bar()

In [ ]:
result.pie()

## Passing PostgreSQL `psql`-style "backslash" meta-commands to CockroachDB does not work today.

In [ ]:
%sql \d

In [ ]:
%sql \?